/*
   New Perspectives on HTML
   Tutorial 3
   Case Problem 1

   ICI Text and Color Styles
   Author: Michael Dejean
   Date:   6/18/2025

   Filename:         c_styles.css
   Supporting Files: none

*/
