/*
   New Perspectives on HTML and CSS
   Tutorial 8
   Case Problem 1
   Special Effects style sheet
   Author: michael dejean
   Date:   7/11/2025

   Filename:         dweffects.css
   Supporting Files: 

*/


