/*
   New Perspectives on HTML and CSS
   Tutorial 8
   Case Problem 1

   dessertWeb Print Styles
   Author: michael dejean
   Date:   7/11/2025

   Filename:         dwprint.css
   Supporting Files: 

*/


